<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/navbar.css"> 
	<link rel="stylesheet" type="text/css" href="css/form.css">
	<link rel="stylesheet" type="text/css" href="css/status.css">
	<link rel="stylesheet" type="text/css" href="css/livre.css">
	<title>Social Culture</title>
</head>
<body>
	<div class="layout">
		<div class="navbar">
			<nav>
				<h3 class="brand">Gazette</h3>
				{{> navbar }}
			</nav>
		</div>


		<div class="content">
			{{> (whichPartial) }}
		</div>

		<div class="complement">
			  
				{{> status }}
		</div>
	</div>

	<div class="warning">
		<strong>Version 0.1</strong>
		<p>Ce prototype ne reflète pas la qualité finale du projet. Les commentaires/posts/questions sont rédigés à titre illustratif pour travailler sur le design.</p>
		<p>Aucune fonctionnalité javascript n'est incorporée.</p>
		<p>Stack utilisé</p>
		<ul>
			<li>NodeJS</li>
			<li>Handlebars</li>
			<li>ExpressJS</li>
		</ul>
		<a href="https://github.com/assem-b/culture">Bientôt disponible sur Github</a>
	</div>

</body>

<script src="js/form.js"></script>
<script src="js/css.js"></script>

</html>