<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/form.css">
	<title>Social Culture</title>
</head>
<body>

<h1>Form for fetching Google Books API</h1>

    
{{> (whichPartial) }}
	



</body>
</html>