body {
    font-family: 'Roboto Condensed', sans-serif;
	max-width: 1200px;
	margin: auto;
	margin-top: 0;
    padding: 30px;
	padding-top: 10px;
    transition: background-color 0.5s;
}

.warning {
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 2px solid black;
    border-right: 0px;
    border-top-left-radius: 10px;
    background-color: #e84545;
    font-weight: bold;
    padding: 25px;
}

.warning p {
    width: 400px;
    line-height: 1.5;
}

.warning a {
    color: white;
}

.layout {
    display: flex;
    width: 100%;
    position: relative;
}

.navbar {
    align-self: flex-start;
    max-width: 200px;
    flex-grow: 1;
    position: sticky;
    top: 0;
}

.content {
    flex-grow: 2;
    max-width: 600px;
}

.complement {
    max-width: 300px;
    flex-grow: 1;
}

.brand {
    margin: 0;
    padding: 7px;
    padding-left: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    border: 2px white solid;
    background-color: #001935;
    padding: 7px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color: white;
    color: #001935;
    cursor: pointer;
}
