.title {
	margin: 0;
	padding: 7px;
	padding-left: 0;
	margin-bottom: 7px;
}
.search {
	max-width: 600px;
}

.wrapper-input {
	border: 5px solid #98DDCA;
	border-radius: 10px;
}

.input {
	box-sizing: border-box;
	padding: 10px;
	border: none;
	width: 100%;
}

.input:focus {
	outline: none;
}

.suggestion {
	color: black;
	background-color: white;
	width: 100%;
	box-shadow: 0 4px 6px rgba(32,33,36,.28);
	border-radius: 0px 0px 10px 10px;
}

.suggestion > div {
	padding: 10px;
}

.suggestion :last-child {
	border-radius: 0 0 10px 10px;
}

.suggestion > div:hover {
	background-color:#fddf7e;
	cursor: pointer;
}

.author {
	color: darkslategray;
}

.billet {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	background-color: #E1E5EA;
	border-radius: 15px;
}

.billet .bookTitle {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 7px;
}

.bookTitle p {
	color: black;

}

#art1 {
	background-color: #98DDCA;
}

#art2 {
	background-color: #d3ddae;
}

.billet h3 {
	display: inline-block;
	margin: 0;
	
}

.billet p {
	line-height: 1.5;
	text-align: justify;
	margin: 0;
}

.billet .text p {
	padding: 20px;
}