form {
	position: relative;
}

.title {
	margin: 0;
	padding: 7px;
	padding-left: 0;
	margin-bottom: 7px;
}
.search {
	max-width: 600px;
}

.wrapper-input {
	border: 5px solid #98DDCA;
	border-radius: 10px;
	margin-bottom: 10px;
}

.input {
	box-sizing: border-box;
	padding: 10px;
	border: none;
	width: 100%;
}

.input:focus {
	outline: none;
}

.suggestion {
	color: black;
	background-color: white;
	width: 100%;
	margin-top: -10px;
	box-shadow: 0 4px 6px rgba(32,33,36,.28);
	border-radius: 0px 0px 10px 10px;
	position: absolute;
	z-index: 1;
}

.suggestion > div {
	padding: 10px;
}

.suggestion :last-child {
	border-radius: 0 0 10px 10px;
}

.suggestion > div:hover {
	background-color:#fddf7e;
	cursor: pointer;
}

.subnav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subject {
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.subnav .subject .subject-question {
	color: darkslategrey;
}

.subnav button {
	background-color: white;
	padding: 5px;
	border: 1px solid #e84545;
	font-weight: bold;
	color: #e84545;
	border-radius: 5px;
}

.subnav button:hover {
	background-color: #e84545;
	color: white;
	cursor: pointer;
}

.question-encart {
	position: relative;
	display: flex;

}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
    height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(81, 196, 211, 0.75), rgba(0, 0, 0, 0));
}

.question-content {
	display: flex;
	flex-direction: column;
	width: 100%
}

.question-author {
	display: flex;
	margin-left: 10px;
	align-items: flex-end;
}

.question-author .vote {
	margin-left: auto;
}

.question-author .vote :hover {
	cursor: pointer;
}

.question-author img {
	margin-right: 5px;
}

.question-encart .question-author p {
	margin: 0;
}

.question-author {
	margin-top: auto;
} 

/* .question-encart .question-author p {
	margin-bottom: 0;
} */


.question-encart > img {
	width: 79px;
}

.question-encart h4, .question-encart p {
	margin: 0;
	margin-left: 10px;
	margin-bottom: 5px;
}

.icons {
	display: flex;
	align-items: flex-end;
	margin-right: 10px;
	font-size: 14px;
}










.author {
	color: darkslategray;
}

.billet {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	border: 2px solid #98DDCA;
	border-radius: 15px;
}

.billet .encart {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 7px;
	background-color: #98DDCA;
}



.bookTitle p {
	color: black;
}

#art1 {
	background-color: #98DDCA;
}

#art2 {
	background-color: #d3ddae;
}

.billet h3 {
	margin: 0;
}

.billet h4 {
	margin: 0;
}

.billet p {
	line-height: 1.5;
	text-align: justify;
	margin: 0;
}

.billet .text p {
	padding: 20px;
}

.billet .text .profile {
	background-color: #98DDCA;
	display: inline-block;
	padding: 5px;
	border-bottom-right-radius: 5px;
}



.billet .profile {
	background-color: #98DDCA;
	padding: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: right;
}

.billet .profile p {
	text-align: right;
	padding: 2px;
}