.livre-presentation {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: 15px;
    border: 7px solid #72D0B6;
}



.livre-couverture img {
    position: absolute;
    height: 185px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}


.livre-presentation h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.livre-presentation .author {
    margin-top: 10px;
    margin-bottom: 10px;
}

.livre-presentation h4 {
    margin-top: 10px;
}

.livre-presentation .date {
    margin-top: 10px;
}

.livre-info {
    padding-left: 10px;
    margin-left: 130px;
    width: 100%;
}

.livre-info h3 {
    margin-top: 10px;
    margin-bottom: 5px;

}

.category {
    font-weight: bold;
    padding: 7px;
    border-top-left-radius: 5px;
    background-color: #72D0B6;
    margin-bottom: 0px;
    float: right;
}


.contributions {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
}

.presentation {
    flex-grow : 2;
}

.presentation p {
    display: inline-block;
    background-color: #98cedd;
    padding: 7px;
    border-radius: 5px;
}

.analyse {
    flex-grow : 1;
}

.questions {
    flex-grow: 1;
}

.presentation-content {
    border-left: 5px solid #72D0B6;    
}

.presentation-content p {
    line-height: 1.6;
    font-size: 22px;
    margin-top: 0;
    padding: 15px;
    transition: background-color 0.3s;
    cursor: default;

}

.presentation-content p:hover {
    background-color:white;
}


.number {
    display: inline-block;
    background-color: #98cedd;
    text-align: center;
    width: 19px;
    padding: 5px;
    border-radius: 50%;
}
