.livre-presentation {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: 15px;
    border: 7px solid #51c4d3;
}



.livre-couverture img {
    position: absolute;
    height: 185px;
    border-radius: 7px;

}

.livre-presentation h3 {
    margin-bottom: 10px;
}

.livre-presentation h4 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.livre-presentation .author {
    margin-top: 10px;
    margin-bottom: 10px;
}

.livre-presentation h4 {
    margin-top: 10px;
}

.livre-presentation .date {
    margin-top: 10px;
}

.livre-info {
    padding-left: 10px;
    margin-left: 120px;
    width: 100%;
}

.livre-info h3 {
    margin-top: 10px;
}

.category {
    font-weight: bold;
    color: white;
    padding: 7px;
    border-top-left-radius: 5px;
    background-color: #51c4d3;
    margin-bottom: 0px;
    float: right;
}


.contributions {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.presentation {
    flex-grow : 1;
}

.analyse {
    flex-grow : 1;
}

.questions {
    flex-grow: 1;
}

.presentation-content p {
    line-height: 1.6;
    text-align: justify;
    font-size: 16px;
    margin-top: 0;
}
