.statusBar {
    float: right;
    margin-top: 7px;
    display: flex;
    flex-direction: column;

    padding-right: 15px;
    padding-left : 15px;
}

.status {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 15px;
}