<form>
    <label for="title">Titre du livre:</label>
    <input autocomplete="off" list="titles" id ="title" placeholder="Taper un titre">
    <datalist id="titles">
    </datalist>
</form>

<script src="js/form.js"></script>