<form>
    <h3 class="title" id="message">Vous aimez lire ? Participez à notre bibliothèque commune!</h3>
    <div class="search">
        <div class="wrapper-input"> 
            <input class="input" type="text" id ="title" placeholder="Qu'avez-vous lu ?">
        </div>
            <div class="suggestion"></div>
    </div>
</form>

<div class="billet">
    <div class="bookTitle"  id="art1">
        <h3>Le fabuleux chantier</h3>
        <p class="author"> Lê Nguyên Hoang, El Mahdi El Mhamdi</p>
    </div>
    <div class="text">
        <p>Écrit par deux extraordinaires vulgarisateurs scientifiques, 
            ce livre est un appel aux contributions de tout être humain sensibilisé aux possibilités, 
            mais aussi aux risques, que présentent les progrès récents et à venir en matière d'intelligence 
            artificielle. Sans entrer dans une sorte de démagogie sensationnelle, 
            ils argumentent leurs propos de nombreux exemples basés sur l'état de l'art en matière d'IA, 
            sans pour autant que cela nécessite de compétences techniques pointues. 
            Leur appel mérite non seulement d'être lu, mais aussi entendu.</p>
    </div>
    <div class="profile">
        <p>Bassem Ben Salem <a href="">@bassem</a> · Cet après-midi</p>
    </div>

</div>

<div class="billet">
    <div class="bookTitle" id="art2">
        <h3>Le cycle de fondation</h3>
        <p class="author">Isaac Asimov</p>
    </div>
    <div class="text">
    <p>Je viens de racheter les 5 tomes mais en fait il y en a 7 avec les 2 préquelles. 
        L'avantage d'Asimov c'est qu'il est assez facile à lire contrairement a Franck Herbert (Dune). 
        et si vous aimez il y a aussi tout son cycle des robots et de l'empire. 
        Cependant, a la fin de sa vie il réunira ses trois grands cycles en une œuvre complète.
        Merci Mr ASIMOV</p>
    </div>
</div>