<form>
    <div class="search">
        <div class="wrapper-input">
            <input class="input" type="text" id ="title" placeholder="Titre du livre">
        </div>
            <div class="suggestion">
        </div>
    <div>
</form>

<script src="js/form.js"></script>