<h3 class="title" id="message">Une anecdote, une analyse, des questions ?</h3>

<div class="livre-presentation">
    <div class="livre-couverture">
        <img src="https://m.media-amazon.com/images/I/51EAB69uCJL.jpg">
    </div>
    <div class="livre-info">
        <h3>Le fabuleux chantier</h3>
        <h4>Rendre l'intelligence artificielle robustement bénéfique</h4>
        <p class="author">Lê Nguyên Hoang, El Mahdi El Mhamdi</p>
        <p class="date">28 novembre 2019</p>
        <p class="category">Sciences fondamentales</p>
    </div>
</div>

<div class="contributions">
    <div class="presentation">
        <p>Présentation</p>
    </div>
    <div class="analyse">
        <p>Analyses</p>
    </div>
    <div class="questions">
        <p>Questions</p>
    </div>
    <div class="anecdote">
        <p>Anecdotes</p>
    </div>
</div> 

<div class="presentation-content">
    <p>L’histoire de nos civilisations est marquée par l’externalisation progressive de l’information, de l’invention du langage à celle de l’imprimerie. La révolution algorithmique est sans doute la plus spectaculaire de ces externalisations, car elle est incarnée par le traitement automatisé de l’information. Désormais, Homo Sapiens s’appuie davantage sur son téléphone que sur son cerveau pour mémoriser la connaissance, s’orienter en ville ou planifier ses vacances. Cette révolution présente des opportunités fantastiques dans les sciences, la santé et la protection de l’environnement. Cependant, le déploiement du traitement automatisé de l’information est allé si vite que ses effets secondaires n’ont pas eu le temps d’être anticipés adéquatement. Par exemple, les algorithmes de recommandations influencent quotidiennement les croyances de milliards d’individus, avec un degré de personnalisation stupéfiant. Pour le meilleur, mais aussi pour le pire. Discours de haine, biais sexistes, addiction, conspirationnisme, manipulations politiques, propagande antivaccin, ou encore catalyse de génocides. Boostée par des techniques de machine learning mal maîtrisées, l’information automatiquement (mal) traitée tue. Ce livre analyse, dans un langage accessible, les effets secondaires présents et les risques futurs du déploiement massif des algorithmes. Il fournit au lecteur une compréhension conceptuelle des algorithmes clés en jeu, de leurs limites et de leurs vulnérabilités. Ce livre esquisse aussi le chantier initié par une communauté croissante de chercheurs dans le but de rendre le traitement automatisé de l’information robustement bénéfique pour l’humanité. Il souligne les enjeux de ce fabuleux chantier, les principaux défis qu’il pose et comment chacun, expert ou non, peut apporter sa pierre à l’édifice.</p>
</div>