<div class="navOption">
    <div class="option"><h3>Accueil</h3></div>
    <div class="option"><h3>Contribuer</h3></div>
    <div class="option"><h3>Bibliothèque</h3></div>
    <div class="option"><h3>Profil</h3></div>
</div>