<div class="statusBar">

    <div class="status">
        J'ai commencé à la recherche du temps perdu de proust
    </div>

    <div class="status">
        Le livre d'Étienne Klein est vraiment compliqué
    </div>

    <div class="status">
        Comment définir la liaison des atomes ? 
    </div>



</div>